.nav {
  background-color: rgba(173, 216, 230, 0.97);
  text-align: center;
  width: 100%;
}

.nav li {
  display: Inline-block;
  /*pedding-left: 60px;*/
  /*pedding-right: 60px;*/
  font-size: 25px;
  width: 10%;

}
